# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Audio Processing Output & Temp
exports/
temp/
*.wav
*.mp3
*.flac
*.ogg
*.m4a

# Flet Caches and Builds
build/
dist/

# OS Specific
Thumbs.db
Desktop.ini
.DS_Store

# Local Notes
gitscript.txt
